a {
    text-decoration:  underline;
    color: white;
}

a:hover,
a:active {
    color: lightgrey;
}

.navigation-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-caption {
    display: inline-block;
    padding-left: 6px;
}

.logout {
    cursor: pointer;
}