<section>
    <div fxLayout fxLayoutAlign="center center">
        <p>Mutual Fund </p>
    </div>
    
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="mfForm"
        (ngSubmit)="onSubmit()">        
        <mat-form-field>
            <mat-label>Enter Year</mat-label>
            <input type="text" matInput placeholder="Year" formControlName="year">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Month</mat-label>
            <mat-select formControlName="month">
              <mat-option *ngFor="let month of months" [value]="month.value">
                {{month.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Platform</mat-label>
            <mat-select formControlName="platform">
                <mat-option *ngFor="let mfPlatform of mfPlatforms" [value]="mfPlatform">
                  {{mfPlatform}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter Invested Amount</mat-label>
            <input type="number" matInput placeholder="Invested Amount" formControlName="investedAmt">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter current Amount</mat-label>
            <input type="number" matInput placeholder="Current Amount" formControlName="currentAmt">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]='mfForm.invalid'>Submit</button>
    </form>
</section>

